/* menu deroulant*/


body, html
{
margin:0px;
}

 nav{
	background-color:  #E34E26 ;
}

#menu, #menu ul{
	padding:0;
	margin:0;
	list-style:none;
	text-align:center;
}

#menu li{
	display:inline-block;
	position:relative;
	width: 21%;
	padding-top: 10px; 
	padding-bottom: 10px; 
	color: #fff;
	font-family: 'Poiret One';
	font-size: 1.4em;  
}

#menu ul li{ 
	display:inherit;
}

#menu ul{
	position:absolute;
	z-index: 1000;
	max-height:0;
	left: 0;
	right: 0;
	overflow:hidden;
}

#menu li:hover ul{
	max-height:20em; 
	width: 475%;
}

/* background des liens menus */

#menu li:first-child{
background-color: #E34E26;
}

#menu li:nth-child(2){
background-color: #E34E26;
}

#menu li:nth-child(3){
background-color: #E34E26;
}

#menu li:last-child{
background-color:  #E34E26;
}

/* background des liens sous menus */

#menu li:first-child li{
background:#E34E26;
}

#menu li:nth-child(2) li{
background:#E34E26;
}

#menu li:nth-child(3) li{
background:#E34E26;
}

#menu li:last-child li{
background:#E34E26;
}

/* background des liens menus et sous menus au survol */

#menu li:first-child:hover, #menu li:first-child li:hover{
background:#FF977B;
}

#menu li:nth-child(2):hover, #menu li:nth-child(2) li:hover{
background:#FF977B;
}

#menu li:nth-child(3):hover, #menu li:nth-child(3) li:hover{
background:#FF977B;
}

#menu li:last-child:hover, #menu li:last-child li:hover{
background:#FF977B;
}

/* les a href */

#menu a{
	text-decoration:none;
	display:block;
	padding:8px 32px;
	color:#fff;
	font-family: 'Poiret One'; 
	font-style: bold; 
	font-size: 0.8em; 
}

#menu ul a{
	padding:8px 0;
	width : 100%;
}

#menu li:hover li a{
	color:#fff;
	text-transform:inherit;
}

#menu li:hover a, #menu li li:hover a{
color:#000;
}

/* Texte */ 

@font-face{
	font-family:'ArchisticoB';
	src: url('Archistico_Bold.ttf'); 
}

@font-face{
	font-family:'Poiret One'; 
	src: url('Poiret OneOne-Regular.ttf');
}

h1 {
	font-family: 'ArchisticoB'; 
	font-size: 3em; 
	text-align: center;
	margin-top: 0px; 
	color: white;
	padding-top: 50px; 
}

p{
	font-family: 'Poiret One'; 
	font-size: 1.3em; 
	text-align: justify;
}

h2 {
	font-family: 'Poiret One'; 
	text-align: center;
	padding-top: 20px;
	color: #E34E26;
}

h3{ 
	font-family: 'Poiret One'; 
	font-style: bold; 
	color: #E34E26;
}

.liste {
	font-family: 'Poiret One';
	font-size: 1.3em; 
	margin-left: 70px; 
}

figcaption {
	font-family: 'Poiret One'; 
	font-style: italic; 
	text-align: center;
}

/* Images */ 

.logo {
	width: 6%;
	height: 7%;
	float : left;
	margin-right: 20px; 
	margin-left: 70px; 
	margin-top: 15px;  
}

figure {
	margin: auto;
}

/*bloc*/

header {
	background-color: #E34E26;
}

.des{ 
	width : auto;
	margin-top: 40px; 
	margin-left: 50px; 
	margin-right: 50px; 
	padding-top : 5px;
	padding-bottom: 5px; 
	padding-left: 30px; 
	padding-right: 30px;  
}

.format{
	box-shadow: 1px 2px 3px 1px grey;
}

.att{
	width : auto;
	margin-top: 40px; 
	margin-left: 50px; 
	margin-right: 50px; 
	padding-top : 5px;
	padding-bottom: 5px; 
	padding-left: 30px; 
	padding-right: 30px;
}

.ex{
	width : auto;
	margin-top: 40px; 
	margin-left: 50px; 
	margin-right: 50px; 
	margin-bottom: 40px; 
	padding-top : 5px;
	padding-bottom: 5px; 
	padding-left: 30px; 
	padding-right: 30px;
}

.ht{
	width : auto;
	margin-top: 50px; 
	margin-left: 50px; 
	margin-right: 50px; 
	padding-top : 5px;
	padding-bottom: 5px; 
	padding-left: 30px; 
	padding-right: 30px;
}

